@model IEnumerable<Distributor>

<h2>Distributors</h2>


<div style="display:block">
    <a href="/Distributor/InsertDistributor">Create Distributor</a>
</div>

<table class="table">
    <tr>
        <th>DistributorID</th>
        <th>DName</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>

    @foreach (var distributor in Model)
    {
        <tr>
            <td><a href="/Distributor/ViewDistributorInventory/@distributor.DistributorID">@distributor.DistributorID</a></td>
            <td><a href="/Distributor/ViewDistributor/@distributor.DistributorID">@distributor.DName</a></td>
            <td>@distributor.Email</td>
            <td>@distributor.Phone</td>
        </tr>
    }

</table>